//
// Header Search
//
// Desktop Mode
.header-search-wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-search-form {
        position: relative;
        input {
            @include dark {
                background-color: rgba(77, 89, 149, 0.06);
                border-color: rgba(77, 89, 149, 0.06);
                color: $white;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
        }
    }
}

@include media-breakpoint-down(xl) {
    .header-search-wrapper {
        max-width: 400px;
    }
}

@include media-breakpoint-down(lg) {
    .header-search-wrapper {
        max-width: 320px;
    }
}

@include media-breakpoint-down(md) {
    .header-search-wrapper {
        max-width: 100%;
    }
}